a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.attribution {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.footer {
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 30px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.headercontainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    width: 1080px;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    padding: 10px 10px 20px;
}

.headerlogo:hover, .listlink:hover {
    background-color: #0c131f;
}

.herocontainer {
    display: flex;
    gap: 64px;
    margin: 10%;
    max-width: 1076px;
}

.heroimg {
    border-radius: 5px;
    height: 220px;
    width: 500px;
}

.heromodal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.herosection {
    align-items: center;
    background-color: #1f2937;
    display: flex;
    height: 450px;
    justify-content: center;
}

.herotext {
    color: #e5e7eb;
    font-size: 18px;
}

.herotitle {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.infocontainer {
    align-items: center;
    display: flex;
    gap: 64px;
    justify-content: center;
    padding: 20px 0;
}

.infosection {
    height: 450px;
    text-align: center;
}

.infopic {
    border: 2px solid #3882f6;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.infopiccontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.listlink {
    padding: 10px 30px 20px;
}

.modalheader {
    font-weight: 800;
}

.modallink {
    align-items: center;
    display: flex;
    justify-content: center;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    max-width: 850px;
}

.quotesection {
    align-items: center;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    height: 450px;
    justify-content: center;
}

.signupbutton {
    border: 1px solid #f9faf8;
}

.signupbutton, .herobutton {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    padding: 5px 24px;
    text-decoration: none;
}

.signupbutton:hover, .herobutton:hover {
    background-color: #327bf1;
}

.signupsection {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
}

.signupmodal {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin: 180px;
    padding: 45px 90px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}